# versioneer
include versioneer.py
include msmtools/_version.py

recursive-include msmtools estimation/tests/testfiles/*
recursive-include msmtools estimation/sparse/testfiles/*
recursive-include msmtools estimation/sparse/newton/testfiles/*
recursive-include msmtools util/matrix/testfiles/*


# setup stuff
include setup_util.py

#include cython files and sources of extensions (incl. cython)
recursive-include msmtools *.pyx *.c *.h


include README*
include LICENSE*
