include versioneer.py
include msmtools/_version.py


recursive-include msmtools tests/* tests/data/*                                   
recursive-include msmtools testfiles/


# setup stuff                                                                   
include setup_util.py

#include cython files and sources of extensions (incl. cython)
recursive-include msmtools *.pyx *.c *.h


include README*
include LICENSE*
